# Xcode
DerivedData/
build/
*.xcuserstate
*.xcuserdata/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
timeline.xctimeline
playground.xcworkspace

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods / Carthage (unused, ignore if added later)
Pods/
Carthage/Build/
